<h1>Member Data for <%= member.fullName %></h1>
<table class="table">
  <tr>
    <th>Name</th>
    <td><%= member.fullName %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= member.email %></td>
  </tr>
  <tr>
    <th>Zip Code</th>
    <td><%= member.zipCode %></td>
  </tr>
  <tr>
    <th>JWT token</th>
    <td style="overflow-wrap: break-word; word-wrap: break-word; word-break: break-all;">
      <% if(loggedIn) { %>
        <%= token %>
        <% } else { %>
        <p><i>Logged Out</i></p>
        <% } %>
    </td>
  </tr>
</table>

<div class="mt-4">
  <a href="/members" class="btn btn-dark mt-1">View all members</a>
</div>
<div>
  <a href="<%=`/members/${member._id}/edit`%>" class="btn btn-dark mt-1"> Edit Member Details </a>
</div>
<div>
  <a
    href="<%= `/members/${member._id}/delete?_method=DELETE` %>"
    onclick="return confirm('Are you sure you want to delete this member?')"
    class="btn btn-dark mt-1"
    >Delete</a
  >
</div>
