<div class="container" style="width: 400px">
    <form method="POST" class="form text-center" action="<%=`/libraries/${library._id}/update?_method=PUT`%>">
      <h2>Edit library:</h2>
      <input
        type="text"
        class="form-control m-2"
        name="title"
        id="inputTitle"
        value="<%=library.title %>"
        placeholder="Title"
        required
      />
      <input
        type="text"
        class="form-control m-2"
        name="description"
        id="inputDescription"
        value="<%=library.description %>"
        placeholder="Description"
        required
      />
      <label for="inputMaxStudents" class="form-label">Maximum Students</label>
      <input
        type="text"
        class="form-control m-2"
        name="maxStudents"
        id="inputMaxStudents"
        value="<%= library.maxStudents %>"
      />
      <label for="inputCost" class="form-label">Cost</label>
      <input
        type="text"
        class="form-control m-2"
        name="cost"
        id="inputCost"
        value="<%= library.cost %>"
      />
      <button type="submit" class="btn btn-dark m-2">UPDATE</button>
    </form>
  </div>
  