<h2>Subscribers</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% subscribers.forEach(s => { %>
    <tr>
      <td><a href="<%= `/subscribers/${s._id}` %>"><%= s.name %></a></td>
      <td><%= s.email %></td>
      <!--edit link tag-->
      <td>
        <a href="<%=`/subscribers/${s._id}/edit` %>"> Edit </a>
      </td>
      <!--delete link tag-->
      <td>
        <a
          href="<%= `subscribers/${s._id}/delete?_method=DELETE` %>"
          onclick="return confirm('Are you sure you want to delete this subscriber?')"
        >
          Delete
        </a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
