<!-- apply the existing users attribute values in edit form-->
<!-- submit the form with a POST method to the /users/:id/update?_method=PUT route.  -->

<div class="container" style="width: 400px">
  <form method="POST" class="form text-center" action="<%=`/users/${user._id}/update?_method=PUT`%>">
    <h2>Edit user:</h2>
    <input
      type="text"
      class="form-control m-2"
      name="first"
      id="inputFirstName"
      value="<%=user.name.first %>"
      placeholder="First"
      autofocus
    />
    <input
      type="text"
      class="form-control m-2"
      name="last"
      id="inputLastName"
      value="<%=user.name.last %>"
      placeholder="Last"
    />
    <input
      type="password"
      class="form-control m-2"
      name="password"
      id="inputPassword"
      value="<%= user.password %>"
      placeholder="Password"
      required
    />
    <input
      type="email"
      class="form-control m-2"
      name="email"
      id="inputEmail"
      value="<%=user.email %>"
      placeholder="Email address"
      required
    />
    <input
      type="text"
      class="form-control m-2"
      name="zipCode"
      id="inputZipCode"
      pattern="\d*"
      value="<%= user.zipCode %>"
      placeholder="Zip Code"
      required
    />
    <button type="submit" class="btn btn-dark m-2">UPDATE</button>
  </form>
</div>
